/* SECTION Elements */

body{
  background-image: url(https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d2FyZWhvdXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* SECTION Classes */



/* SECTION IDs */

#mainBox{
  height: 70%;
  width: 80%;
  background-color: black;
}

#innerBox{
  border: 2px solid white;
}